@*@model IEnumerable<H2StyleStore.Models.ViewModels.CustomerQuestionVM>*@
@model PagedList.IPagedList<H2StyleStore.Models.ViewModels.CustomerQuestionVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GetCustomerQ";
    IEnumerable<SelectListItem> QCategorylist = ViewBag.QCategory as IEnumerable<SelectListItem>;
    string keyword = ViewBag.Keyword as string;
}

<h2>顧客問題</h2>

<form>
    <div class="row">
        <div class="col-md-5">問題分類:@Html.DropDownList("qcategoryId", QCategorylist, new { @class = "form-control" })</div>
        <div class="col-md-5">關鍵字:<input type="text" name="keyword" class="form-control" value="@keyword" placeholder="請輸入關鍵字"></div>
        <div class="col-md-2" style="margin-top: 24px; margin-bottom: 0px; padding-left: 15px;">
            <input type="submit" class="btn btn-primary" value="搜尋" />
        </div>
    </div>
</form>
<br />
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Member_Name)*@
            顧客名稱
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QCategory_Name)*@
            分類名稱
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            問題名稱
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Problem_Description)*@
            問題描述
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FilePath)*@
            檔案
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.AskTime)*@
            詢問時間
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Solution_Description)*@
            回答描述
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SolveTime)*@
            回答時間
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Employee_Id)*@
            回答員工
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QCategory_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problem_Description)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.FilePath)*@
                @*@if (Html.DisplayFor(modelItem => item.FilePath) != null)*@
                @*{<img class="m-2" src="../../Images/QuestionImages/@Html.DisplayFor(modelItem => item.FilePath)" width="120px" name="" />}*@
                @if (System.IO.File.Exists(Server.MapPath("~/Images/QuestionImages/" + Html.DisplayFor(modelItem => item.FilePath))))
                {
                    <img class="m-2" src="../../Images/QuestionImages/@Html.DisplayFor(modelItem => item.FilePath)" width="120px" name="" />
                }
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.AskTime)*@
                @item.AskTime.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolveTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee_Id)
            </td>
            <td>
                @Html.ActionLink("回覆", "EditCustomerQ", new { id = item.CustomerQuestion_Id }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
<div style="text-align:right">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GetCustomerQ", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

@section Scripts {
    <script>
    </script>
}