@model H2StyleStore.Models.EFModels.Employee

@{
    ViewBag.Title = "Details_Employees";
}

<h2>個人資料</h2>

<div>
    @*<h4>Employee</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Account)*@帳號
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@稱謂
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Permission_id)*@權限名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionsE.Level)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.EncryptedPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncryptedPassword)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Employee_id }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
